body {
  width: 100%;
  padding: 0;
}

.cover {
  height: 300px;
  overflow: hidden;
  background: darkslategray;
}
#cover_image {
  display: block;
  margin: auto;
  width: 100%;
  object-fit: contain;
}
.profile {
  height: 200px;
  background-color: #f5efef;
}
#profile_image_div {
  transform: translate(3rem, -3.5rem);
  width: fit-content;
}
#edit_button {
  margin-top: 10px;
  background-color: darkslategray;
  font-size: 21px;
  border-radius: 5px;
}
#profile_statics_div {
  border-radius: 5px;
  /* border: 1px solid red; */
  flex-grow: 1;
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid black; */
  justify-content: space-between;
}
#follow_statics {
  margin-right: 20px;
  font-size: 27px;
  /* border: 1px solid black; */
}
.show_followers,
.show_following {
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}
.show_followers:hover,
.show_following:hover {
  background: lightblue;
  cursor: pointer;
}
#profile_info_div {
  margin-left: 50px;
  /* border: 1px solid rebeccapurple; */
  /* flex-grow: 1; */
}
#follow_status img {
  width: 180px;
}
#follow_status {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
#follow_status > div {
  display: flex;
  flex-direction: column;
}

/* The side navigation menu */
.sidebar {
  width: 200px;
  background-color: #f5efef;
  position: relative;
  height: 100%;
  overflow: auto;
  /* border: 1px solid yellow; */
  margin-right: 0px;
  margin-top: 10px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

/* Active/current link */
.sidebar a.active {
  background-color: darkslategray;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: darkslategray;
  color: white;
}

#profile_large_div {
  display: flex;
  /* border: 1px solid black; */
}
#M_sidebar {
  position: relative;
  left: 50px;
  border-radius: 10px;
  margin-top: 100px;
  width: 250px;
  height: 380px;
}

.staticNumber {
  color: white;
  background-color: #909090;
  border-radius: 30%;
  font-size: 16px;
  padding: 3.5px;
  float: right;
  border: none;
}
#profile-profile_image {
  object-fit: scale-down;
}
.side_nav_elem {
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
}

.hr_elem {
  color: gray;
  background-color: gray;
}
#profile_info_div h5 {
  font-size: 28px;
}
@media only screen and (max-width: 500px) {
  .cover {
    height: 128px;
  }
  #cover_image {
    object-fit: scale-down;
  }
  .profile {
    height: 150px;
  }
  #profile_info_div {
    margin-left: 0px;
  }
  #profile_image_div {
    width: 100px;
    transform: translate(0.5rem, -3.5rem);
  }
  #edit_button {
    margin-top: 7px;
    font-size: 13px;
  }
  #profile_info_div h5 {
    font-size: 15px;
  }
  #profile_info_div {
    font-size: 10px;
  }
  #follow_statics {
    margin-right: 0px;
    font-size: 9px;

    /* width: 120px; */
  }
  #follow_statics h5 {
    font-size: 9px;
  }
  .show_followers,
  .show_following {
    padding: 0px;
    width: 35%;
  }
  .staticNumber {
    padding: 2px;
    font-size: 8px;
  }
  #profile_info_div {
    margin-left: 0px;
  }
  #follow_status img {
    width: 70px;
  }
  .sidebar a {
    padding: 0px;
    font-size: 11px;
  }
  .sidebar a {
    text-align: center;
    float: none;
    margin-top: 15px;
  }
  #M_sidebar {
    left: 0px;
    /* top: -30px; */
    margin-top: 10px;
    height: fit-content;
    padding-bottom: 6px;
    width: fit-content;
    padding: 5px;
  }

  .side_nav_elem {
    font-size: 13px;
    margin: 5px;
  }

  #tweets_container {
    padding: 0;
  }
  .profile_tweets_container {
    width: 300px;
  }
  .follow_status_div {
    padding: auto;
  }
  .follow_status_div img {
    width: 20px;
    margin: auto;
  }
  .follow_status_div button {
    font-size: 8px;
    width: 60px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 500px) {
  .cover {
    height: 128px;
  }
  #cover_image {
    object-fit: scale-down;
  }
  .profile {
    height: 150px;
  }
  #profile_info_div {
    margin-left: 0px;
  }
  #profile_image_div {
    width: 100px;
    transform: translate(0.5rem, -3.5rem);
  }
  #edit_button {
    margin-top: 7px;
    font-size: 13px;
  }
  #profile_info_div h5 {
    font-size: 15px;
  }
  #profile_info_div {
    font-size: 10px;
  }
  #follow_statics {
    margin-right: 0px;
    font-size: 9px;

    /* width: 120px; */
  }
  #follow_statics h5 {
    font-size: 9px;
  }
  .show_followers,
  .show_following {
    padding: 0px;
    width: 35%;
  }
  .staticNumber {
    padding: 2px;
    font-size: 8px;
  }
  #profile_info_div {
    margin-left: 0px;
  }
  #follow_status img {
    width: 70px;
  }
  .sidebar a {
    padding: 0px;
    font-size: 11px;
  }
  .sidebar a {
    text-align: center;
    float: none;
    margin-top: 15px;
  }
  #M_sidebar {
    left: 0px;
    width: fit-content;
    padding: 5px;
    margin-top: 10px;
    height: fit-content;
    padding-bottom: 6px;
  }

  .side_nav_elem {
    font-size: 13px;
    margin: 5px;
  }

  #tweets_container {
    padding: 0;
  }
  .profile_tweets_container {
    width: 400px;
  }
  .follow_status_div {
    padding: auto;
  }
  .follow_status_div img {
    width: 20px;
    margin: auto;
  }
  .follow_status_div button {
    font-size: 8px;
    width: 60px;
  }
}
