#profile_brief_image {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  border-radius: 50%;
  margin-right: 10px;
}
#S_profile_brief_image {
  width: 60px;
  height: 60px;
  object-fit: scale-down;
  border-radius: 50%;
  margin-right: 6px;
}
#S_profile_brief_content_div h3 {
  font-size: 16px;
}

.S_profile_pointer:hover {
  background-color: lightblue;
  border: 1px solid grey;
  padding: 16px;
}

.profile_pointer,
.S_profile_pointer {
  margin-top: 3px;
  margin-bottom: 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s;
}
.profile_pointer:hover {
  background-color: lightblue;
  border: 1px solid grey;
  padding: 13px;
}
@media only screen and (max-width: 500px) {
  #S_profile_brief_image {
    width: 20px;
    height: 20px;
    object-fit: scale-down;
    margin-right: 3px;

    margin-left: 0px;
  }
  #S_profile_brief_content_div h3 {
    font-size: 11px;
  }
  #S_profile_div {
    padding: 3px;
  }
  .followed_by_small {
    display: none;
  }
  #profile_brief_image {
    width: 50px;
    height: 50px;
    margin-right: 7px;
  }
  #profile_brief_content_div h3 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 500px) {
  #S_profile_brief_image {
    width: 23px;
    height: 23px;
    object-fit: scale-down;
    margin-right: 3px;
    margin-left: 0px;
  }
  #S_profile_brief_content_div h3 {
    font-size: 11px;
  }
  #S_profile_div {
    padding: 3px;
  }
  .followed_by_small {
    display: none;
  }
  #profile_brief_image {
    width: 50px;
    height: 50px;
    margin-right: 7px;
  }
  #profile_brief_content_div h3 {
    font-size: 15px;
  }
}
