#login_form {
  width: 46%;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  padding-top: 20px;
}

button {
  width: 150px;
}
#container {
  height: 100%;
  display: flex;
  padding-top: 150px;
}
.redirect_link {
  color: blue;
}
.redirect_link:hover {
  text-decoration: underline;
  cursor: default;
}
@media only screen and (max-width: 500px) {
  #login_form {
    width: 100%;
    border: none;
  }

  #container {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 500px) {
  #login_form {
    width: 100%;
    border: none;
  }

  #container {
    padding-top: 100px;
  }
}
