#raven_brand {
  width: 50px;
  border-radius: 50%;
}
#burger {
  font-size: 25px;
}
.nav-link {
  cursor: default;
  font-size: 20px;
}

#nav_dropdown_menu {
  margin-right: 50px;
}

#nav_dropdown_menu > a {
  cursor: default;
}
.log_out_text {
  color: red;
  cursor: pointer;
}
.log_out_from_all_text {
  color: red;
  font-size: 13px;
  cursor: pointer;
}
#profile_image {
  width: 40px;
  border: 0.5px solid black;
  border-radius: 5px;
  margin-right: 5px;
}
