.card {
  padding: 20px;
}
.card > div,
.card > form {
  width: 85%;
  margin: auto;
}
.card-img {
  width: 85%;
  margin: auto;
  border-radius: 15px;
}
#tweets_profile_image {
  width: 70px;
  /* margin-top: 7px; */
  border: 0.2px solid grey;
  border-radius: 7px;
  margin-right: 10px;
}
#card_fist_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3px;
}
#tweet_profile_div {
  display: flex;
  flex-direction: column;
}
#tweet_content_div > p {
  opacity: 0.95;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#tweet_content_div {
  padding-top: 3px;
  padding-left: 7px;
}
#class_info_div > p {
  float: right;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 7px;
}
.tweet_info_span {
  opacity: 0.8;
  font-size: 13px;
}
#tweet_actions {
  border: 0.2px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ml-1 {
  cursor: pointer;
}
.action_button {
  border-radius: 3px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.action_button:hover {
  background-color: lightsteelblue;
}
.cardbox {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px !important;
}
#image_icon {
  width: 40px;
}
#comment_section {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 5px;
  padding: 4px;
}

.comment {
  overflow: hidden;
  padding: 0 0 1em;
  border-bottom: 1px solid #ddd;
  margin: 0 0 1em;
}

.comment-img {
  float: left;
  margin-right: 33px;
  border-radius: 5px;
  overflow: hidden;
}

.comment-img img {
  display: block;
}
.text {
  background: #f5efef;
}

.comment-body {
  overflow: hidden;
}

.comment .text {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #f5efef;
}

.comment .text p:last-child {
  margin: 0;
}

.comment .attribution {
  margin: 0.5em 0 0;
  font-size: 14px;
  color: #666;
}

/* Decoration */

.comments,
.comment {
  position: relative;
}
.comments {
  margin-top: 25px;
}

.comments:before,
.comment:before,
.comment .text:before {
  content: '';
  position: absolute;
  top: 0;
  left: 65px;
}

.comments:before {
  width: 3px;
  top: -8px;
  bottom: -20px;
  background: rgba(0, 0, 0, 0.1);
}

.comment:before {
  width: 9px;
  height: 9px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin: 20px 0 0 0px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #f5efef;
}

.comment:hover:before {
  background: orange;
}

.comment .text:before {
  top: 20px;
  left: 78px;
  width: 9px;
  height: 7px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #f5efef;
  background: #f5efef;
}
#comment_media {
  width: 300px;
 border-radius: 10px;
}

#comment_section {
  background-color: #f5efef !important;
}
#reply_like_button {
  width: fit-content;
  padding: 3px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
#reply_like_button:hover {
  background-color: lightsteelblue;
}
