.card {
  padding: 20px;
  background-color: #000033;
  color: white;
  margin-top: 4px;
  margin-bottom: 4px;
}
.card > div,
.card > form {
  width: 85%;
  margin: auto;
}
.card-img {
  width: 85%;
  margin: auto;
  border-radius: 15px;
}
#tweets_profile_image {
  width: 70px;
  /* margin-top: 7px; */
  border: 0.2px solid grey;
  border-radius: 7px;
  margin-right: 10px;
}
#card_first_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3px;
}

.view_tweet_action_div {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  border-radius: 50%;
}
#tweet_profile_div {
  display: flex;
  flex-direction: column;
}
#tweet_content_div > p {
  opacity: 0.95;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#tweet_content_div {
  padding-top: 3px;
  padding-left: 7px;
}
#class_info_div > p {
  float: right;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 7px;
  margin-top: 5px;
}
.tweet_info_span {
  opacity: 0.8;
  font-size: 13px;
  cursor: pointer;
}
#tweet_actions {
  border: 0.2px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ml-1 {
  cursor: pointer;
}
.action_button {
  border-radius: 3px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.action_button:hover {
  background-color: lightsteelblue;
}
@media only screen and (max-width: 500px) {
  .card {
    padding: 10px;
    width: 100%;
  }
  .card > div,
  .card > form {
    width: 100%;
  }
  .card-img {
    width: 85%;
  }
  #tweets_profile_image {
    width: 40px;
    margin-right: 7px;
  }
  .view_tweet_action_div {
    flex-grow: 2;
  }
  #tweet_content_div > p {
    font-size: 12px;
  }
  #tweet_content_div {
    padding-left: 4px;
  }
  #class_info_div > p {
    width: 50%;
    margin-right: 20px;
  }
  .tweet_info_span {
    font-size: 8px;
  }
  #tweet_actions {
    font-size: 13px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 500px) {
  .card {
    padding: 10px;
    width: 100%;
  }
  .card > div,
  .card > form {
    width: 100%;
  }
  .card-img {
    width: 85%;
  }
  #tweets_profile_image {
    width: 40px;
    margin-right: 7px;
  }
  .view_tweet_action_div {
    flex-grow: 2;
  }
  #tweet_content_div > p {
    font-size: 13px;
  }
  #tweet_content_div {
    padding-left: 4px;
  }
  #class_info_div > p {
    width: 40%;
    margin-right: 20px;
  }
  .tweet_info_span {
    font-size: 10px;
  }
  #tweet_actions {
    font-size: 14px;
  }
}
